@{
    ViewData["Title"] = "BackOffice";
}

<h1>BackOffice</h1>

<div class="row">
    <div class="col-sm-6 mb-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gestione Ordini</h5>
                <a asp-action="Index" asp-controller="Ordine" class="btn btn-primary">Ordini</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gestisci Ingredienti</h5>
                <a asp-action="Index" asp-controller="Ingrediente" class="btn btn-primary">Ingredienti</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gestisci Prodotti</h5>
                <a asp-action="Index" asp-controller="Prodotto" class="btn btn-primary">Prodotti</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 mb-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gestione ingredienti prodotti</h5>
                <a asp-action="Index" asp-controller="IngredienteAggiunto" class="btn btn-primary">Ingredienti Aggiunti</a>
            </div>
        </div>
    </div>
    
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {


        });
    </script>
}