html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: brown;
}

.img-fix {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.thumb {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#mainLogo {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

#navLogo {
    width: 50px;
    object-fit: cover;
}

.toast-success {
    background-color: #F0AD4E !important; /* Questo è un colore giallo */
}
#toast-container.toast-top-right {
    top: 80px; /* Il valore predefinito è 12px, quindi aggiungiamo 100px */
}
